<!--suppress RequiredAttributes -->
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Договор оферты</title>
    <style>
        @page {
            margin: 45px 70px 75px 70px;
        }

        body {
            font-family: "Calibri", Arial, sans-serif;
            font-size: 13pt;
        }

        h4 {
            text-align: center;
        }

        .left {
            text-align: left;
        }

        .right {
            text-align: right;
            float: right;
        }

        .head {
            width: 100%;
        }

        .logo-container {
            display: inline-block;
            overflow: hidden;
            width: 420px;
            height: 150px;
        }

        .logo {
            width: auto;
            height: 100%;
            max-height: 150px;
        }

        .text-block {
            text-align: justify;
        }
    </style>
</head>
<body>
<table class="head">
    <tr>
        <td>
            <div class="logo-container">
                <img class="logo" th:src="|data:image/png;base64,${imgLogo}|" alt="Logo" />
            </div>
        </td>
        <td>
            <span class="right">
                <b>
                    Утверждаю
                    <br />
                    Коммерческий директор
                </b>
            </span>
        </td>
    </tr>
</table>
<h4>
    ДОГОВОР (ОФЕРТА) №<span th:text="${agreementNumber}"></span>
    <br />
    о предоставлении услуг участия в Программе
</h4>
<p class="left">
    <b>Город Москва</b>
    <span class="right">
         <b th:text="${date}"></b>
    </span>
</p>
<p class="text-block">
    A. Настоящий Договор (оферта) является официальным предложением Общества с
    ограниченной ответственностью <span th:text="${organization}"></span> (в дальнейшем «Компания») для
    полностью дееспособного физического лица или юридического лица (далее –
    «Участник»), которое примет настоящее предложение на указанных ниже условиях.
    <br />
    B. В соответствии с пунктом 2 статьи 437 Гражданского Кодекса РФ, в случае
    принятия изложенных ниже условий и оплаты услуг лицо, производящее акцепт этой
    оферты, становится контрагентом компании в рамках Договора (оферты) (в
    соответствии с пунктом 3 статьи 438 Гражданского кодекса РФ акцепт оферты
    равносилен заключению Договора на условиях, изложенных в оферте).
    <br />
    C. Моментом полного и безоговорочного принятия Участником предложения
    Исполнителя заключить Договор (акцептом оферты) считается факт подтверждения
    готовности совершить оплату услуги Исполнителя
    <br />
    D. Осуществляя акцепт, Участник подтверждает, что он ознакомлен, согласен,
    полностью и безоговорочно принимает все условия Договора (оферты) в том виде,
    в каком они изложены в тексте Договора (оферты), а также Прайс Листа Офиса и
    Правил Офиса.
    <br />
    E. Участник согласен, что акцепт оферты является заключением Договора на
    условиях, изложенных в нем.
    <br />
    F. Договор не требует скрепления печатями и/или подписания Участником и
    Исполнителем (далее по тексту – Стороны) и сохраняет при этом юридическую силу.
</p>
<h4>1. ПРЕДМЕТ ДОГОВОРА</h4>
<p class="text-block">
    1.1. В рамках выбранной Участником программы (Клуб, Fix, Flex, Офис на 1 день)
    (далее – Программа) Участнику предоставляется доступ к помещениям, в которых
    расположены незакрепленные рабочие места, в действующих локациях Компании
    доступных для бронирования и покупки. Полный список локаций указан на сайте
    Компании <span th:text="${organization}"></span> - далее «локации Компании», а также к общим зонам
    любых локаций Компании, а именно: приемные, кухни, коридоры, санузлы в
    зависимости от выбранной Программы. Вместе с предоставлением услуг,
    описанных выше, Клиенту могут быть оказаны дополнительные услуги на условиях,
    прописанных в Приложениях к Оферте.
    <br />
    1.2. В рамках действия Программы и на условиях Прайс Листа Офиса Участнику
    также предоставляется:
    <br />
    - доступ на открытые мероприятия, организованные Компанией в своих локациях.
    При условии регистрации участника на мероприятие в день проведения
    мероприятия время доступа Участника в локацию Компании, которой проводится
    открытое мероприятие, продлевается до 23:00 дня проведения открытого
    мероприятия;
    <br />
    - доступ к сообществу и реферальным программам Компании;
    <br />
    - доступ в личный кабинет на сайте Компании;
    <br />
    - доступ в интернет;
    <br />
    - пользование кухнями, включая употребление чая, кофе, воды, использование
    кухонного оборудования и техники;
    <br />
    - возможность бронирования переговорных комнат и конференц-залов в любых
    локациях Компании за дополнительную плату в соответствии с Прайс Листом
    Офиса.
    <br />
    1.3. Стоимость участия в Программе размещена на странице:
    <br />
    <span th:text="${website}"></span>
    <br />
    Стоимость указана в российских рублях в месяц, сверх того НДС 20%
    (далее – «Плата») на условиях Прайс Листа Офиса. Также по согласованию
    Сторон Участнику могут оказываться дополнительные услуги на условиях
    Прайс Листа Офиса. Прайс Лист Офиса и Правила Офиса, обязательные для
    соблюдения Участником, размещены на сайте Компании. По
    требованию Участника Компания предоставляет Прайс Лист и Правила Офиса на
    бумажном носителе, заверенные печатью Компании и подписью Генерального
    директора Компании.
    <br />
    1.3.1. При первичной регистрации Участника в Программе, Участник обязуется
    оплатить регистрационный взнос в размере 1 000 рублей сверх Платы, указанной в
    пункте 1.3.
    <br />
    1.4. Условия предоставления услуг и их стоимость, указанные в Прайс Листе Офиса,
    могут быть изменены Компанией в одностороннем порядке в любое время и
    становятся обязательными для Участника с момента их изменения. При этом
    стоимость Участия в Программе действует до конца предоплаченного периода.
    <br />
    1.5. Все услуги и продукты предоставляются при условии их наличия и возможности
    предоставления.
    <br />
    1.6. Участник не вправе передавать свое членство в Программе третьим лицам за
    исключением случаев, когда обратное прямо разрешено на основании
    предварительного письменного согласия Компании. За каждое нарушение
    Участником данного пункта он обязуется оплатить штраф в размере 2 500 рублей.
    <br />
    1.7. Срок участия Участника в Программе продлевается в случае оплаты
    Участником очередного платежа. В случае, если Участник не произвел очередной
    платеж, участие в Программе прекращается. Участник может продлить срок
    действия Программы на любой срок путем оплаты соответствующего
    оплачиваемому периоду платежа, указанного в п. 1.3 и в соответствии с Прайс
    Листом Офиса.
    <br />
    1.8. «Сертификат» - тарифные планы с преднастроенным номиналом в 10 000
    рублей, 25 000 рублей, 50 000 рублей, которым Участник может оплатить услуги по
    бронированию переговорных комнат и приобретению тарифных планов FIX, FLEX,
    CLUB в соотношении 1 рубль сертификата = 1 российскому рублю.
</p>
<h4>2. ОБЯЗАННОСТИ СТОРОН</h4>
<p class="text-block">
    2.1. Компания обязуется на время пользования Участником Программой:
    <br />
    2.1.1. Содержать помещения мест общего пользования и территорию локаций
    Компании, в надлежащем санитарном, противопожарном и техническом состоянии.
    <br />
    2.1.2. Обеспечить уборку территории локации Компании, включающую сухую и
    влажную уборку полов, вынос мусора, замену пластиковых пакетов, удаление пыли
    с поверхности с периодичностью, обеспечивающей нормальное использование
    помещений.
    <br />
    2.1.3. Предоставить подключение к интернету на период участия в Программе.
    <br />
    2.1.4. В случае аварий, пожаров, затоплений, взрывов и других подобных
    чрезвычайных событий за свой счет немедленно принимать все необходимые меры
    к устранению последствий этих событий. Если указанные чрезвычайные события
    произошли по вине Участника, то обязанность по устранению последствий
    указанных событий и возмещение причиненного вреда лежит на Участнике.
    <br />
    2.1.5. Осуществлять все иные действия, необходимые для исполнения ДОговора,
    предусмотренные законодательством Российской Федерации, Договором и
    дополнительными соглашениями к нему.
    <br />
    2.2. Участник обязуется:
    <br />
    2.2.1. Соблюдать Правила Офиса, размещенные на странице:
    <br />
    <span th:text="${website}"></span>
    <br />
    Компания вправе в любое время в одностороннем порядке изменять
    Прайс Лист Офиса и Правила Офиса. Об изменении Правил Офиса
    Компания уведомляет Участника путем размещения соответствующей
    информации на сайте Компании, с момента такого уведомления
    Участника, измененный Прайс Лист Офиса и Правила Офиса становятся
    обязательными для Участника.
    <br />
    2.2.2. Обеспечивать сохранность используемого им имущества Компании и нести
    полную материальную ответственность за причиненный ущерб.
    <br />
    2.2.3. Своевременно вносить Плату и плату за дополнительные услуги.
    <br />
    2.2.4. Осуществлять все иные действия, необходимые для исполнения Договора,
    предусмотренные законодательством Российской Федерации, Договором и
    дополнительными соглашениями к нему.
    <br />
    2.2.5. Участник подтверждает, что ознакомлен с Прайс Листом Офиса и Правилами
    Офиса и согласен с ними.
</p>
<h4>3. РАЗМЕР ПЛАТЫ. ПОРЯДОК РАСЧЕТОВ</h4>
<p class="text-block">
    3.1. Размер Платы определяется в соответствии с действующим Прайс Листом
    Офиса и указан в пункте 1.3.
    <br />
    3.2 Уплата Платы производится в виде стопроцентной предоплаты за весь период
    участия в программе путем уплаты денежных средств и возврату не подлежит.
    <br />
    3.3 В случае досрочного прекращения действия Программы по инициативе
    Участника предоплата, внесенная Участником за участие в Программе, и предоплата
    за уже заказанные или забронированные на дату досрочного прекращения
    дополнительные услуги не возвращается. В случае досрочного прекращения
    действия Программы по инициативе Компании за исключением ситуаций,
    описанных в п. 11.1 Участнику возвращается внесенная ранее предоплата за полные
    неиспользованные месяцы программы  после даты прекращения Программы
    Компанией, а также предоплата за дополнительные услуги, предоставление которых
    предполагалось после даты прекращения Программы Компанией за вычетом
    фактически понесенных Компанией расходов, связанных с предоставлением
    дополнительной услуги.
    <br />
    3.4 Оплата дополнительных услуг осуществляется:
    <br />
    - путем стопроцентной предоплаты в момент заказа или бронирования услуги. В
    случае невозможности определения предоплаты до начала оказания услуги –
    постоплатой до конца рабочего дня, в который оказана услуга
    <br />
    - В случае оказания дополнительных услуг, влекущих за собой необходимость
    привлечения Компанией третьих лиц или дополнительные затраты для Компании,
    Компания вправе запросить стопроцентную предоплату таких услуг со стороны
    Участника.
    <br />
    3.5. В размер Платы включены стоимость коммунальных услуг, потребляемых
    Участником (электроэнергия, отопление, водоснабжение, канализация). Кроме того,
    в размер Платы включены: потребление чая, кофе, фильтрованной воды;
    пользования кухнями любых этажей (в том числе, холодильниками,
    микроволновыми печами, мытье посуды); уборка, охрана; участие в
    образовательных мероприятиях, которые организовывает Компания в любых своих
    локациях.
    <br />
    3.6. Датой начала действия программы может быть любой день месяца.
    <br />
    3.7. Приобрести карту участия в Программе можно на сайте в
    любой день. Забрать карту можно в будний день с 09:00 до 18:00 на площадке.
</p>
<h4>4. СПОСОБ ОПЛАТЫ</h4>
<p class="text-block">
    4.1. Оплата может быть произведены как с помощью банковской карты, так и путем
    перечисления безналичных денежных средств на расчетный счет Компании (только
    для Клиентов - юридических лиц). Оплата происходит через авторизационный
    сервер Процессингового центра Банка с использованием Банковских кредитных
    карты следующих платежных систем:
</p>
<table>
    <tr>
        <td>
            <ul>
                <li>VISA International</li>
            </ul>
        </td>
        <td>
            <img th:src="|data:image/png;base64,${imgVisa}|" alt="Visa" />
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>MasterCard World Wide</li>
            </ul>
        </td>
        <td>
            <img th:src="|data:image/png;base64,${imgMc}|" alt="MasterCard" />
        </td>
    </tr>
    <tr>
        <td>
            <ul>
                <li>МИР</li>
            </ul>
        </td>
        <td>
            <img th:src="|data:image/png;base64,${imgMir}|" alt="МИР" />
        </td>
    </tr>
</table>
<h4 style="text-align: left;">5. ОПИСАНИЕ ПРОЦЕССА ОПЛАТЫ</h4>
<p class="text-block">
    5.1. Для оплаты с помощью банковской карты необходимо на странице сайта
    заполнить свои личные данные в поля формы, отметить галочкой своё согласие с
    "Политикой обработки персональных данных" и с "Договором Офертой", далее
    нажать на кнопку «Оплатить».
    <br />
    5.2. Система перенаправит Вас на страницу платежного шлюза ОАО "Сбербанк
    России", где будет предложено ввести реквизиты Вашей карты и выполнить оплату.
    После этого систему уведомит Вас о результате оплаты. Вернуться обратно на наш
    сайт можно будет кнопкой "Вернуться в магазин".
</p>
<h4>6. ОПИСАНИЕ ПРОЦЕССА ПЕРЕДАЧИ ДАННЫХ</h4>
<p class="text-block">
    6.1. Для оплаты Вы будете перенаправлены на платежный шлюз ОАО "Сбербанк
    России" для ввода реквизитов Вашей карты. Пожалуйста, приготовьте Вашу
    банковскую карту заранее. Соединение с платежным шлюзом и передача
    информации осуществляется в защищенном режиме с использованием протокола
    шифрования SSL.
    <br />
    6.2. В случае если Ваш банк поддерживает технологию безопасного проведения
    интернет-платежей Verified By Visa или MasterCard Secure Code для проведения
    платежа - также может потребоваться ввода специального пароля. Способы и
    возможность получения паролей для совершения интернет-платежей Вы можете
    уточнить в банке, выпустившем карту.
    <br />
    6.3. Настоящий сайт поддерживает 128-битное шифрование. Конфиденциальность
    сообщаемой персональной информации обеспечивается ОАО "Сбербанк России".
    Введенная информация не будет предоставлена третьим лицам за исключением
    случаев, предусмотренных законодательством РФ. Проведение платежей по
    банковским картам осуществляется в строгом соответствии с требованиями
    платежных систем Visa Int. и MasterCard Europe Sprl.
</p>
<h4>7. ДЕЙСТВИЯ ПРИ ВОЗНИКНОВЕНИИ ПРОБЛЕМ С ОПЛАТОЙ</h4>
<p class="text-block">
    7.1. В случае подтверждения авторизации Вашей банковской карты заказ будет
    автоматически сформирован в соответствии с заданными условиями В случае
    отказа в авторизации карты необходимо будет повторить процедуру оплаты.
    <br />
    7.2. При возникновении проблем с оплатой напишите в наш Telegram-бот,
    письмо на email или позвоните по телефону.
    <br />
</p>
<h4>8. УСЛОВИЯ ВОЗВРАТА И ОБМЕНА</h4>
<p class="text-block">
    8.1. В случае расторжения договора по инициативе Участника, денежные средства
    не возвращаются, за исключением случаев, описанных в пункте 11.2.1 и 11.2.2.
</p>
<h4>9. ОТВЕТСТВЕННОСТЬ СТРОН</h4>
<p class="text-block">
    9.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по
    Договору стороны несут ответственность в соответствии с действующим
    законодательством Российской Федерации.
    <br />
    9.2. В случае нанесения ущерба Участником имуществу Компании, Участник
    возмещает Компании расходы на ремонт и замену поврежденного имущества.
    <br />
    9.3. В случае просрочки оплаты любых платежей, подлежащих оплате по
    настоящему Договору, Компания вправе потребовать от Участника неустойку в
    размере 0,1% (ноль целых одна десятая процента) от неоплаченной суммы за
    каждый день просрочки. Кроме того, начиная с момента возникновения просрочки
    оплаты любых платежей, подлежащих оплате по настоящему Договору, Компания
    вправе прекратить участие Участника в программе.
</p>
<h4>10. СРОК УЧАСТИЯ В ПРОГРАММЕ</h4>
<p class="text-block">
    10.1. Участие в программе начинается с ближайшего рабочего дня с момента
    внесения платежа и с учетом положений п. 3.7. и действует весь оплаченный
    период.
</p>
<h4>11. ПРЕКРАЩЕНИЕ УЧАСТИЯ В ПРОГРАММЕ</h4>
<p class="text-block">
    11.1. Участие в программе может быть досрочно прекращено по требованию
    Компании в случаях, если Участник:
    <br />
    11.1.1. пользуется помещениями локаций Компании с нарушениями Правил Офиса;
    <br />
    11.1.2. существенно ухудшает состояние оборудования, которым оснащены локации
    Компании;
    <br />
    11.1.3. на 1 (один) рабочий день или более допустил просрочку оплаты любых
    платежей, подлежащих оплате.
    <br />
    11.2. Участие в программе может быть досрочно прекращено по требованию
    Участника в случаях, если:
    <br />
    11.2.1. Компания без правомерных оснований не предоставляет доступ в локации
    Компании Участнику;
    <br />
    11.2.2. Локации Компании в силу обстоятельств (аварий, пожаров, затоплений,
    взрывов и других подобных чрезвычайных событий), за которые Участник не
    отвечает, окажется в состоянии, не пригодном для пользования.
</p>
<h4>12. ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ</h4>
<p class="text-block">
    12.1. В случае возникновения какого-либо требования или спора между Сторонами,
    возникших по настоящему Договору, Стороны обязаны урегулировать их путем
    переговоров в претензионном (досудебном) порядке урегулирования споров. В
    случае если Стороны не придут к соглашению по спорным вопросам в течение 30
    (Тридцати) календарных дней с даты, когда была получена претензия (требование)
    одной из Сторон, другая Сторона вправе передать спор на рассмотрение: в случае,
    если спор подсуден суду общей юрисдикции - в Тверском районном суде города
    Москвы; либо, если спор подсуден арбитражному суду - в Арбитражном суде города
    Москвы.
</p>
<h4>13. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h4>
<p class="text-block">
    13.1. Дополнительные услуги не входят в стоимость участия в программе и
    оплачиваются отдельно.
    <br />
    13.2. Во всем, что не предусмотрено настоящей Офертой, Стороны руководствуются
    действующим законодательством Российской Федерации.
    <br />
    13.3. В связи с требованиями законодательства Российской Федерации о
    персональных данных, положениями Федерального закона «О персональных
    данных» от 27.07.2006 г. №152-ФЗ Участник подтверждает согласие на обработку
    персональных данных с целью проверки по базам данных правоохранительных
    органов и передачу персональных данных любой третьей стороне для обеспечения
    безопасности объекта и собственной безопасности всех сотрудников. Компания
    гарантирует обработку переданных данных в соответствии с законодательством
    Российской Федерации о персональных данных.
</p>
<p>
    <b>
        Компания:
        <br />
        <span th:text="${organization}"></span>
    </b>
</p>
</body>
</html>
